    .conteiner{
        display: flex;
        flex-direction: column;
        padding: 5%
    }
    .header{
        background-color: #D9D9D9;
        border-bottom: 3px solid #BB9549;
        
    }
    .titulo{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
        text-decoration: none;
    }
    .ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #e3b062;
        align-items: center;
        text-decoration: none;

    }
    a{
        text-decoration: none;
        color: #000000;
    }
    .img1{
       margin-top:1%;
       justify-self:flex-start;
       width: 350px;
       height: 200px;
       border: #000000 1px solid;
       border-radius: 44px;
    }
    .img2{
        width: 400px;
        height: 250px;
        border-radius: 50px;
    }
    h3{
        align-items: flex-end;
    }
    .sectionPar{
        display: flex;
        flex-direction: row;
        font-size: 18px;
    }
    .sectionImpar{
        display: flex;
        flex-direction: row;
        font-size: 18px;
    }
    p{
        padding: 5%;
    }
    .formulario{
        align-items: center;
        display: flex;
        flex-direction: column;
        border: #BB9549 2px solid;
        border-radius: 44px;
        background-color: #D9D9D9;

    }
    .artigo{
        align-items: center;
        display: flex;
        flex-direction: column;
        border: #BB9549 2px solid;
        border-radius: 44px;
        background-color: #D9D9D9;
        
    }
    .grafico{
        width: 50%;
    }
    .divGrafico{
flex-direction: row;
display: flex;
align-items: center;
justify-content: space-between;

    }