    .conteiner{
        display: flex;
        flex-direction: column;
        padding: 5%
    }
    .header{
        border-bottom: 3px solid #BB9549;
      
    }
    .titulo{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: large;
    }
    .ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #e3b062;
        align-items: center;

    }
    .img1{
       margin-top:1%;
       justify-self:flex-start;
    }
    h3{
        align-items: flex-end;
    }